.menu {
  width: 150px;
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

.menu-item {
  padding: 10px 20px;
  cursor: pointer;
  color: var(--font-color);
  transition: background 0.3s;
}

.menu-item:hover {
  color: var(--primary-color);
  background: var(--light-light-gray-color);
}
